<a href="#" class="js-colorlib-nav-toggle colorlib-nav-toggle"><i></i></a>
<aside id="colorlib-aside" role="complementary" class="js-fullheight text-center">
    <h1 id="colorlib-logo"><a asp-controller="Home" asp-action="Index">blog<span>.</span></a></h1>
    <nav id="colorlib-main-menu" role="navigation">
        <ul>
            <li class="@Html.IsActive("Home")"><a asp-controller="Home" asp-action="Index">Home</a></li>
            <li class="@Html.IsActive("Blog")"><a asp-controller="Blog" asp-action="Index">Blog</a></li>
            <li class="@Html.IsActive("About")"><a asp-controller="About" asp-action="Index">About</a></li>
            <li class="@Html.IsActive("Contact")"><a asp-controller="Contact" asp-action="Index">Contact</a></li>
        </ul>
    </nav>

    <div class="colorlib-footer">
        <p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;
            <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
            <ul>
                <li><a href="#"><i class="icon-facebook"></i></a></li>
                <li><a href="#"><i class="icon-twitter"></i></a></li>
                <li><a href="#"><i class="icon-instagram"></i></a></li>
                <li><a href="#"><i class="icon-linkedin"></i></a></li>
            </ul>
    </div>
</aside> <!-- END COLORLIB-ASIDE -->